.carrucel{
    padding-top: 8px;
};

.subtitulos{
    display: flex;
    justify-content: center;
    color:map-get($color-letras, colortitulo);
    font-size: map-get($tamaño-tipografia, subtitulos );
    font-size: 2cm;

}